.nav-sidebar {
  height: 100vh;
  background-color: #232323;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile {
  margin: 0 auto;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #676767;
  display: grid;
  place-items: center;
}

img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.links {
  margin: 70px;
  display: grid;
  grid-gap: 30px;
  font-size: 20px;
}

.link {
  color: #bcbcbc;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.active {
  color: #3380ff;
}
